<!DOCTYPE html>
<html lang="en" xmlns:fb="http://ogp.me/ns/fb#">
<head>
	<meta charset="utf-8">
	<title>Neptune</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" media="screen">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/custom.css">
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
<script src="../bower_components/respond/dest/respond.min.js"></script>
<![endif]-->
</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a href="../" class="navbar-brand">Neptune</a>
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-collapse collapse" id="navbar-main">
				<ul class="nav navbar-nav">
					<li>
						<a href="../confession/index">Index</a>
					</li>
					<li>
						<a href="../confession/post">Post</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						{% block LOGIN_BUTTON %}
						<a>
							<fb:login-button max_rows="1" size="large" show_faces="false" auto_logout_link="true" onlogin="checkOnLogin();">Login with Facebook</fb:login-button>
						</a>
						{% endblock %}
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="page-header" id="banner">
			<div class="row">
				<div class="col-lg-6">
					<h1>Neptune</h1>
					<p class="lead">Love and Emotion</p>
				</div>
			</div>
		</div>
		{% block BSCT_CONTENT %}{% endblock %}
	</div>
	<footer>
		<div class="row">
			<div class="col-lg-12">
				<p>Created by <a href="DuongDat.Informatics@rocketmail.com">Duong Dat</a> and <a href="thanhnguyen17101994@gmail.com">Thanh Nguyen</a> </p>

			</div>
		</div>
	</footer>
	<form method="post" id="info-wrapper">{% csrf_token %}</form>

<!--BEGIN OF SCRIPTS-->
<div id="fb-root"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.js"></script>
<script src="{{ STATIC_URL }}js/custom.js"></script>

<!--END OF SCRIPTS-->

</body>
</html>
