{% extends 'base.html' %}
{% block old_post %}
<div class="well"></div>
<div class="jumbotron">
	<h2 style="font-family:sans-serif"><strong>Login with Facebook right now to experience all Neptune's features!</strong></h2>
	<div class="lead">It's totally safe. We'll never post or share anything without your approval.</div>
	<hr>
	<h2 style="font-family:sans-serif"><strong>A brand new website for public anonymous messaging</strong></h2>
	<div class="lead">New but great! This website provides personal page for anonymous messages and replies. You can send a message as an anonymous user or a registered user. Besides that, you may share any of your posts on Facebook.</div>
	<hr>
	<h2 style="font-family:sans-serif"><strong>Say hi to us! :)</strong></h2>
	<div class="lead">You may clink <strong>Learn more</strong> to see one of the creator's wall and send him a message!</div>
	<p><a class="btn btn-primary btn-lg" href="/infrmtcs">Learn more</a></p>
</div>
{% endblock %}