{% extends 'base.html' %}
{% block old_post %}
<div class="bs-docs-section">
	{% if posts_list %}
		{% for post in posts_list %}
			{% if post.displayed_sender_link != '/' %}
			<div class="panel panel-danger">
			{% else %}
			<div class="panel panel-info">
			{% endif %}
				<div class="panel-heading">
					<h3 class="panel-title">
						{% if post.displayed_sender_link != '/' %}
							<b>From:</b> <a href="{{ post.displayed_sender_link }}">{{ post.displayed_sender }}</a> <br/>
						{% else %}
							<b>From:</b> {{ post.displayed_sender }} <br/>
						{% endif %}
						<small style = "color: white">Sent at: {{ post.postedtime }}</small>
					</h3>
				</div>
				<div class="panel-body">
					<p><strong>{{ post.content }}</strong></p>
				</div>
			</div>
		{% endfor %}
	{% else %}
		<p>No post are available.</p>
	{% endif %}
</div>
{% endblock %}